<!-- Footer -->
{{ $data := index .Site.Data .Site.Language.Lang }}
<footer id="footer">
    
        {{ with $data.contactinfo.address }}
        <section class="alt">
            <h3>{{ i18n "CONTACT_ADDRESS" . }}</h3>
            <p>
                {{ range $i, $e := . }}
                    {{ if $i }} <br/> {{ end }} {{ .line }}
                {{ end }}
            </p>
        </section>
        {{ end }}
        {{ with $data.contactinfo.phone }}
        <section>
            <h3>{{ i18n "CONTACT_PHONE" . }}</h3>
            <p><a href="tel:{{ . }}">{{ . }}</a></p>
        </section>
        {{ end }}
        {{ with $data.contactinfo.email }}
        <section>
            <h3>{{ i18n "CONTACT_EMAIL" . }}</h3>
            <p><a href="mailto:{{ . }}">{{ . }}</a></p>
        </section>
        {{ end }}
        {{ with $data.social }}
        <section>
            <h3>{{ i18n "CONTACT_SOCIAL" . }}</h3>
            <ul class="icons alt">
                {{ with .facebook}}
                <li><a href="{{ . }}" class="icon alt fa-facebook"><span class="label">Facebook</span></a></li>
                {{ end }}
                {{ with .instagram}}
                <li><a href="{{ . }}" class="icon alt fa-instagram"><span class="label">Instagram</span></a></li>
                {{ end }}
                {{ with .youtube}}
                <li><a href="{{ . }}" class="icon alt fa-youtube"><span class="label">Youtube</span></a></li>
                {{ end }}
            </ul>
        </section>
        {{ end }}
    </section>
</footer>
